.list-item {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid rgba($darker-grey, 0.8);
  padding: $s-size;
  margin-bottom: $s-size;
  border-radius: 5px;

  & > div,
  button {
    padding: $s-size;
  }

  @media (min-width: $m-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}
